<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  名前:
  <%= f.text_field :name %>
  <br />
    
  <div class="form-group ">
    <span class="glyphicon glyphicon-pencil"></span>
    <%= f.label :body,'内容:', class: 'col-sm-1 control-label' %>
    <div class="col-sm-11">
    <%= f.text_area :body, class: 'form-control' , rows: 10 %>
    </div>
    <br />
    
  内容:
  <%= f.text_field :body %>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>