<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

    
    

<%= form_for(Message.new, html: {class: "form-horizontal"}) do |f| %>
  名前：
  <br>
  <%= f.text_field :name %>
  <br>
  内容：
  <br>
  <textarea name="content" rows="4" cols="120"></textarea>
  <br>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>